/* Here is your custom css styles. */
.music-player .aplayer.aplayer-fixed {
    bottom: 280px;
}
.music-player .aplayer.aplayer-fixed .aplayer-body {
    bottom: 280px;
}
.music-player .aplayer.aplayer-fixed .aplayer-lrc {
    padding-left: 700px;
}
#daodream-launcher{
    bottom: 135px!important;
}